.howMightWe {
    background-color: var(--black);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.howMightWe__txt {
    font-family: Chapeau-Medium;
    font-weight: 500;
    font-size: 18px;
    color: var(--white);
    letter-spacing: 0.93px;
    text-align: center;
    line-height: 24px;
    padding: 5vw;
}

.howMightWe__head {
    font-family: Chapeau-Black;
    font-weight: 900;
    letter-spacing: 1.3px;
    font-size: 10px;
    color: var(--white) ;
    padding-bottom: 8px;
    text-align: center;
    text-transform: uppercase;
}


/* TABLET VERSION */

@media (min-width: 768px) and (max-width: 1024px) {

    .howMightWe {
        padding-left: 64px;
        padding-right: 64px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .howMightWe__txt {
        font-size: 24px;
        line-height: 32px;
    }
}


/* DESKTOP VERSION */


@media (min-width: 1024px) {

    .howMightWe {
        padding-left: 64px;
        padding-right: 64px;
        padding-top: 96px;
        padding-bottom: 96px;
        margin-top: 36px;
        margin-left: 16vw;
        margin-right: 16vw;
    }

    .howMightWe__txt {
        font-size: 44px;
        line-height: 56px;
    }

}

/* 4K VERSION */
@media (min-width: 2560px) {
    .howMightWe {
        margin-left: 24vw;
        margin-right: 24vw;
    }
}