/* Hero Layout Style */

.hero__txt {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  


/* Hero Typography */

.brow {
    font-family: Chapeau;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    padding-top: 24px;
    letter-spacing: 0.83px;
    text-align: center;
  }

  .lead {
    font-family: Chapeau;
    font-weight: 500;
    font-size: 24px;
    padding-top: 16px;
    letter-spacing: 0.53px;
    text-align: center;
    line-height: 32px;
  }

/* TABLET VERSION */

@media (min-width: 768px) and (max-width: 1024px) {

      
    .hero__txt {
      align-items: flex-start;
      padding-left: 6vw;
      padding-right: 6vw;
      padding-bottom: 6vw;
    }
    
    .lead, .brow {
      text-align: left;
    }
    

    }
    
    
    /* DESKTOP VERSION */
    
    
    @media (min-width: 1024px) {
        
      .hero__txt {
        align-items: flex-start;
        padding-left: 6vw;
        padding-right: 16vw;
        padding-bottom: 6vw;
      }
      
      .lead {
        text-align: left;
        font-family: Chapeau;
        font-weight: 500;
        font-size: 45px;
        color: var(--black);
        letter-spacing: 1px;
        line-height: 56px;
      }

      .brow {
        text-align: left;
        font-family: Chapeau;
        font-weight: 900;
        font-size: 12px;
        color: var(--black);
        letter-spacing: 1px;
        line-height: 17px;
      }

        }
    