.home__txt {
  padding-bottom: 64px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__head {
  font-family: Chapeau-Black;
  font-size: 48px;
  text-align: center;
  color: var(--black);
  letter-spacing: 2.67px;
  line-height: 96px;
  text-transform: uppercase;
  text-decoration: none;
}

a {
  text-decoration: none;
}


/* TABLET VERSION */
  
@media (min-width: 768px) {
  
  .home__txt {
    padding-bottom: 6vw; 
    padding-top: 6vw;
    padding-left: 6vw;
    align-items: flex-start;
  }
}
    
    
/* DESKTOP VERSION */ 
    
@media (min-width: 1024px) {


}
    