.home__txt--wrapper {
  overflow-x: hidden;
}

.home__txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__txt {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}

.home__brow {
  text-align: left;
  color: var(--black);
  font-family: Chapeau-Mono;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 17px;
  letter-spacing: 1.3px;
  font-weight: 100;
  transition: 500ms ease-in-out;
}

.home__head {
  font-family: Chapeau-Thin;
  font-weight: 100;
  font-size: 30px;
  color: var(--black);
  letter-spacing: 1.33px;
  text-transform: capitalize;
  text-decoration: none;
  transition: 500ms ease-in-out;
}

.link__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 6vw;
  padding-right: 6vw;
  width: auto;
  border-bottom: 2px var(--black) solid;
}

.link__wrapper:hover .home__head {
  transition: 200ms ease-in-out;
  color: var(--black);
}

.link__wrapper:hover {
  border-bottom-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23000' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-size: auto 8px;
  background-repeat: repeat-x;
  text-decoration: none;
}

/* Hovers Effects for the Hero */

.home__head:hover ~ .home__hero {
  background-color: red;
}

a {
  text-decoration: none;
}

.home__title {
  position: absolute;
  color: var(--black);
  font-size: 1.5vw;
  font-family: Chapeau-Light;
  font-weight: 100;
  line-height: 130%;
  text-align: center;
  width: 45%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 500ms ease-in-out;
}

.home__brow--left {
  display: none;
}

/* TABLET + DESKTOP VERSION */

@media (min-width: 768px) {
  .home__head {
    text-align: left;
    font-size: 2.25em;
    line-height: 1.35em;
  }

  .home__brow {
    font-size: 12px;
  }

  .home__brow--left {
    display: block;
  }
}

/* DESKTOP VERSION */
@media (min-width: 1024px) {
  
  .link__wrapper:hover .home__brow {
    transition: 800ms ease-in-out;
  }
  
  .link__wrapper:hover .home__head {
    opacity: 0;
    filter: blur(50px);
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    transition: 800ms ease-in-out;
  }
  
  .link__wrapper:hover .home__title {
    opacity: 1;
    transition: 800ms ease-in-out;
  }

  .home__txt--wrapper {
    position: relative;
    height: 98vh;
  }

  .link__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: auto;
    border-bottom: 2px var(--black) solid;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .home__txt::-webkit-scrollbar {
    display: none;
  }

  .home__txt {
    overflow: scroll;
    align-items: flex-start;
  }

  .home__head {
    font-size: 4vw;  
    line-height: 2.75vw;
  }
}

