.tracker {
  background-color: var(--projcolor);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 2px var(--black) solid;
  border-top: 2px var(--black) solid;
  z-index: 100;
}

.tracker__logo {
  width: 20px;
  margin-right: 16px;
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.3));
}

.tracker__head {
  font-family: Chapeau-Medium;
  font-weight: 500;
  font-size: 12px;
  color: var(--black);
  letter-spacing: 1px;
  line-height: 17px;
}

.phases {
  display: none;
}

.pinned {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* DESKTOP VERSION */

@media (min-width: 1024px) {

  .tracker {
    height: 60px;
    padding-left: 16vw;
    padding-right: 16vw;
  }

  .tracker__logo {
    width: 20px;
    transition: 150ms ease-in-out;
  }

  .tracker__logo:hover {
    filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.3));
    margin-bottom: 5px;
    transition: 150ms ease-in-out;
  }

  .tracker__head {
    font-size: 16px;
    line-height: 22px;
  }

  .phases {
    height: 32px;
    background-color: var(--white);
    border-bottom: 2px var(--black) solid;
    display: flex;
    padding-left: 16vw;
    padding-right: 16vw;
    justify-content: space-between;
    align-items: center;
  }

  .phases__txt {
    font-family: Chapeau-Medium;
    font-weight: 500;
    font-size: 10px;
    color: var(--black);
    letter-spacing: 1.3px;
    text-align: center;
    line-height: 17px;
    opacity: 0.4;
    transition: 100ms ease-in-out;
  }

  .phases__active {
    opacity: 1;
    transition: 100ms ease-in-out;
  }
}

@media (min-width: 1440px) {
  .phases__txt {
    font-size: 12px;
  }
}

/* 4K VERSION */
@media (min-width: 2560px) {
  .tracker {
    padding-left: 24vw;
    padding-right: 24vw;
  }

  .phases {
    padding-left: 24vw;
    padding-right: 24vw;
  }
}
