/* Hero Image */

figure.hero__img {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 40vh;
}

section.hero {
  background-color: var(--projcolor);
}

figure.hero__img img {
  max-width: 60vw;
  max-height: 80vh;
}

.inner__img--limiter {
  max-width: 80%;
}

/* TABLET VERSION */

@media (min-width: 768px) and (max-width: 1024px) {

  .hero {
    grid-row-start: 1;
    grid-row-end: span 2;
    border-right: 2px var(--black) solid;
  }

  figure.hero__img {
    border-bottom: 0;
    margin-top: auto;
  }

  figure.hero__img img {
    max-width: 30vw;
  }

}


/* DESKTOP VERSION */ 

@media (min-width: 768px) {

  .hero {
    height: 98vh;
    grid-row-start: 1;
    grid-row-end: span 2;
    border-right: 2px var(--black) solid;
    z-index: 2;
  }

  figure.hero__img {
    border-bottom: 0;
    margin-top: auto;
    height: 98vh;
  }  

  figure.hero__img img {
    max-width: 30vw;
  }
}
