.u-caps {
    text-transform: uppercase;
}

.u-black-txt {
    color: black;
}

.u-white-txt {
    color: white;
}

.u-opacity-20 {
    opacity: .2;
}

.u-bold {
    font-weight: 500;
}

.u-no-underline {
    text-decoration: none;
}
