<div class="site-head">

	<nav class="site-nav">

		<ul class="u-list-reset site-nav__list site-nav__name">
			<li class="site-nav__list-item"><a href="#" class="u-block u-no-underline site-nav__link ">Yana Gevorgyan</a></li>
		</ul>
		<ul class="u-list-reset site-nav__list">
			{# <li class="site-nav__list-item"><a href="#" class="u-block u-no-underline site-nav__link ">Contact</a></li> #}
			{# <li class="site-nav__list-item"><a href="#" class="u-block u-no-underline site-nav__link">About</a></li> #}
			<li class="site-nav__list-item site-nav__list-item--resume" class="ui-widget-content" id="draggable-button">
				{# <div class="resume-line-top">
					<p class="sketch-value sketch-value__resume--top"></p>
				</div>#}
				<a href="#" class="u-block u-no-underline site-nav__link ">Resume</a>

			</li>
		</ul>


	</nav>
</div>
