.quote {
    display: none;
}

/* DESKTOP VERSION */


@media (min-width: 1024px) {

.quote__absoluter {
    position: absolute;
    z-index: -2;
}

.quote__text--mark-line {
    line-height: 0.55em;
}

.quote {
    display: flex;
    flex-direction: column;
    padding-left: 16vw;
    width: 25vw;
}

.quote__text {
    font-family: Chapeau-Medium;
    color: var(--black);
    font-weight: 500;
    line-height: 1.5em;
    font-size: 1.5em;
}

.quote__text--mark {
    font-weight: 500;
    color: var(--projcolor);
    font-size: 4em;
}

}

/* 4K VERSION */
@media (min-width: 2560px) {
    .quote {
        padding-left: 24vw;
    }

    .quote__text {
        font-size: 2em;
    }
}