// Responsive Hero Image

.hero {
    align-items: flex-end;
    background-color: $white;
    display: flex;
    height: calc(100vh - #{$top-height});
    min-height: 400px;
    overflow: hidden;
    padding: 0;
    position: relative;

    @media screen and (min-width: $display-nav) {
        height: calc(100vh - (#{$top-height} + 80px));
    }
}

.hero__media-wrapper {
    align-content: center;
    height: 100%;
    position: absolute;
    width: 100%;
}

.hero__media-wrapper:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, $black 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
}

.hero__image {
    height: 100%;
    object-fit: cover;
    object-position: 50% 20%;
    width: 100%;
}

.hero__content {
    margin: 0 auto;
    max-width: $page-width;
    padding-bottom: 10vh;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;

    @media screen and (min-width: $display-nav) {
        padding-left: 100px;
        padding-right: 100px;
    }
}

.hero__headline,
.hero__subheadline,
.hero__link,
.hero__body {
    color: white;
    margin: 0.5em 0;
}

.hero__headline {
    font-size: 2em;
    font-weight: 500;
    line-height: 1.2em;

}

.hero__subheadline {
    font-size: 1.2em;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 2em;
    position: relative;
}

.hero__link {
    font-size: 1em;
    font-weight: 600;
    position: relative;
}

.hero__body {
    display: block;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 1em;

    @media screen and (max-width: ($display-nav - 1px)) {
        display: none;
    }
}
