.issues__screen {
    margin-left: 6vw;
    margin-right: 6vw;
}

.issues__screen--img {
    width: 100%;
}

.issues__list {
    margin-left: 6vw;
    margin-right: 6vw;
  
    
}

.issues__list--title {
    font-family: Chapeau;
    font-weight: 500;
    margin-right: 8px;

}


.issues__list--issue {
    font-family: SuisseNeue-Regular;
    font-size: 14px;
    list-style-type: none;
    color: var(--black);
    letter-spacing: 0;
    line-height: 24px;
}

.issues__list--solution {
    font-family: SuisseNeue-Regular;
    font-size: 14px;
    list-style-type: none;
    color: var(--black);
    letter-spacing: 0;
    line-height: 24px;
}

.issues__list--issue:before {
    content:"❌"; 
    margin-left: -30px;
    margin-right: 10px;
}

.issues__list--solution:before {
    content:"🗸"; 
    color: green;
    margin-left: -30px;
    margin-right: 10px;
}

/* DESKTOP VERSION */

@media (min-width: 1024px) {
    .issues__list  {
        margin-right: 16vw;
        grid-area: pg;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .issues__list--issue {
        font-size: 18px;
        line-height: 32px;   
        margin-bottom: 8px;
    }

    .issues__list--solution {
        font-size: 18px;
        line-height: 32px;   
        margin-bottom: 8px;
    }

    .issues__screen  {
        margin-left: 16vw;
        margin-right: 0;
    }
    
}

/* 4K VERSION */
@media (min-width: 2560px) {
    .issues__screen  {
        margin-left: 24vw;
    }

    .issues__list  {
        margin-right: 24vw;
    }
}