.list {
    margin-top: 24px;
    margin-left: 6vw;
    margin-right: 6vw;
}

.list__ordered {
    list-style: armenian;
    counter-reset: item;
    font-size: 10px;
    line-height: 32px;
}

.list__unordered {
    list-style: disc;
    counter-reset: item;
    font-size: 10px;
    line-height: 32px;
}

.list__item {
    font-family: SuisseNeue-Regular;
    color: var(--black);
    letter-spacing: 0;
    font-size: 14px;
    line-height: 24px;
    counter-increment: item;
}

.list__item::before {
    font-family: Chapeau;
    font-size: 10px;
    line-height: 24px;
    font-weight: 900;
    content: counter(item);
    display: inline-block; 
    width: 1em; 
    margin-left: -4.5em;
    margin-right: 3.5em; 
    text-align: right; 
    direction: rtl;
}



/* DESKTOP VERSION */

@media (min-width: 1024px) {

.list {
    grid-area: pg;
    margin-left: 6vw;
    margin-right: 16vw;
    margin-top: 0;
}

.list__list {
    font-size: 12px;
    line-height: 32px;
}

.list_item {
    font-size: 18px;
    line-height: 32px;   
}

.list__item::before {
    font-size: 12px;
    margin-left: -2.5em;
    margin-right: 1.5em; 
}
      }