.imgLeft {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 24px;
    max-width: 500px;
    margin: 0 auto;
}

.imgLeft__img {
    max-width: 100%;
}

.imgLeft__caption {
    font-family: Chapeau-Medium;
    font-weight: 500;
    font-size: 10px;
    color: var(--black);
    letter-spacing: 1px;
    line-height: 16px;
    padding-top: 8px;
    max-width: fit-content;
}

.imgLeft--padding {
    padding: 1em;
    align-content: center;
    justify-content: center;
    background-color: var(--black);
}

.imgLeft__number {
    /* border-bottom: 1px solid var(--projcolor); */
    color: var(--projcolor);
    font-weight: 500;
}

/* TABLET VERSION */
@media(min-width: 768px) and (max-width: 1023px)
{
    .imgLeft {
        padding-top: 24px;
        padding-left: 20vw;
        padding-right: 20vw;
    }
}


/* DESKTOP VERSION */
@media (min-width: 1024px) {

.imgLeft__absoluter {
    position: absolute;
    z-index: -2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .imgLeft {
        padding-left: 16vw;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .imgLeft__caption {
        font-size: 12px;
        color: var(--black);
        letter-spacing: 1px;
        line-height: 20px;
        padding-top: 8px;
    }
}

/* 4K VERSION */
@media (min-width: 2560px) {
    .imgLeft {
        padding-left: 24vw;
    }
}
