/* Hero Layout Style */

.inner__txt {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

/* Hero Typography */

.brow {
  font-family: Chapeau;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 10px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  padding-top: 24px;
  letter-spacing: 0.83px;
  text-align: center;
  }

.lead {
  font-family: Chapeau;
  font-weight: 500;
  padding-top: 16px;
  letter-spacing: 0.53px;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.35em;
}

/* Button */
  
.btn__git {
  transition: 150ms ease-in-out;
  font-family: Chapeau;
  font-weight: 500;
  font-size: 16px;
  color: var(--black);
  letter-spacing: 1.14px;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
  padding: 10px;
  background-color: var(--white);
  border: 1px  var(--black) solid;
  width: 240px;
}

.btn__git--iconbg {
  background-color: var(--black);

}

.btn__git--icon {
  width: 24px;
  height: 24px;
  padding: 10px;
}

.btn__git--wrapper {
  display: flex;
  margin-top: 24px;
  flex-direction: row;
  align-items: center;
  transition: 100ms ease-in-out;
}

/* Button hover */

.btn__git--wrapper:hover .btn__git {
  background-color: var(--black);
  color: var(--white);
  transition: 100ms ease-in-out;
  cursor: pointer;
}

.btn__git--iconbg:hover {
  cursor: pointer;
}

/* TABLET VERSION */

@media (min-width: 768px) and (max-width: 1024px) {
      
  .inner__txt {
    align-items: flex-start;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 6vw;
  }
  
  .lead, .brow {
    text-align: left;
  }    
}
    
    
    /* DESKTOP VERSION */
    
    
@media (min-width: 1024px) {

  .inner__txt {
    align-items: flex-start;
    padding-left: 6vw;
    padding-right: 16vw;
    padding-bottom: 6vw;
  }
  
  .lead {
    text-align: left;
    color: var(--black);
    letter-spacing: 1px;
    font-size: 1.8em;
    line-height: 1.35em;
  }

  .brow {
    text-align: left;
    font-size: 12px;
    color: var(--black);
    letter-spacing: 1px;
    line-height: 17px;
  }
}
  

/* 4K VERSION */
@media (min-width: 1441px) {
  .lead{
    font-size: 3.5em;
    line-height: 1.25em;
    max-width: 36vw;
  }
}