.paragraph {
    padding-left: 16px;
    padding-right: 16px;
    z-index: -1;
}

.paragraph__section {
    margin-top: 16px;
    margin-bottom: 16px;
}

.paragraph__title {
    font-family: Chapeau;
    color: var(--black);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 32px;
    letter-spacing: 0.83px;
}

.paragraph__body {
    font-family: SuisseNeue-Regular;
    font-size: 14px;
    color: var(--black);
    letter-spacing: 0;
    line-height: 24px;
}

/* DESKTOP VERSION */


@media (min-width: 1024px) {


    .paragraph {
        grid-area: pg;
        padding-left: 6vw;
        padding-right: 16vw;
    }
    

    .gridContainer {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-areas: 
        ". pg";
    }

    .paragraph__title {
        font-size: 12px;
        line-height: 32px;
    }
    
    .paragraph__body {
        font-size: 18px;
        line-height: 32px;    
    }
    
      }

mark {
    background-color: var(--projcolor);
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
}