.paragraph {
    padding-left: 16px;
    padding-right: 16px;
}

.paragraph__link {
    border-bottom: 1px #000 solid;
    color: #000;
}

.paragraph__link:hover {
    border-bottom-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23000' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 1.2em;
    background-size: auto 5px;
    background-repeat:repeat-x;
    padding-bottom:3px;
    text-decoration: none;
}

.paragraph__section {
    margin-top: 24px;
    margin-bottom: 24px;
}

.paragraph__title {
    font-family: Chapeau-Black;
    color: var(--black);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 18px;
    padding-bottom: 8px;
    letter-spacing: 1.3px;
}

.paragraph__body {
    font-family: SuisseNeue-Regular;
    font-size: 14px;
    color: var(--black);
    letter-spacing: 0;
    line-height: 24px;
}


/* TABLET VERSION */
@media(min-width: 768px) and (max-width: 1023px)
{
    .paragraph {
        padding-left: 20vw;
        padding-right: 20vw;
    }
}

/* DESKTOP VERSION */


@media (min-width: 1024px) {


    .paragraph {
        grid-area: pg;
        padding-left: 6vw;
        padding-right: 16vw;
    }
    

    .gridContainer {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-areas: 
        ". pg";
    }

    .paragraph__title {
        font-size: 12px;
        line-height: 32px;
    }
    
    .paragraph__body {
        font-size: 18px;
        line-height: 32px;    
    }
    
      }

mark {
    background-color: rgb(217, 227, 248);
    box-shadow: inset 0 0px 10px var(--white);
    display: inline;
}

/* 4K VERSION */
@media (min-width: 2560px) {

    .paragraph  {
        padding-right: 24vw;
    }
}