
/* Button */
  
.btn__resume {
  transition: 150ms ease-in-out;
  font-family: Chapeau-Medium;
  font-weight: 500;
  font-size: 16px;
  color: var(--black);
  letter-spacing: 1.14px;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
  padding: 9.5px;
  background-color: var(--white);
  border: 1px  var(--black) solid;
  width: 240px;
  margin-left: 16px;
}

.btn__resume--iconbg {
  background-color: var(--black);

}

.btn__resume--icon {
  width: 24px;
  height: 24px;
  padding: 9.5px;
}

.btn__resume--wrapper {
  display: flex;
  margin-top: 24px;
  flex-direction: row;
  align-items: center;
  transition: 100ms ease-in-out;
}

/* Button hover */

.btn__resume--wrapper:hover .btn__resume {
  background-color: var(--black);
  color: var(--white);
  transition: 100ms ease-in-out;
  cursor: pointer;
}

.btn__resume--iconbg:hover {
  cursor: pointer;
}


/* Hero Layout Style */

.aboutTxt {
    margin-bottom: 4em;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

/* Hero Typography */

.aboutTxt__brow {
  font-family: Chapeau-Medium;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 10px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1.3px;
  padding-top: 24px;
  padding-left: 16px;
  letter-spacing: 1.3px;
  text-align: left;
  }

.aboutTxt__lead {
  font-family: Chapeau-Medium;
  font-weight: 500;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  letter-spacing: 0.53px;
  text-align: left;
  font-size: 1.5em;
  line-height: 1.35em;
}

.aboutTxt__head {
  font-family: SuisseNeue-Regular;
  font-weight: 400;
  letter-spacing: 0.2px;
  font-size: 0.8em;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 1.5em;
  color: var(--black);
  padding-top: 16px;
  text-align: left;
}


/* TABLET VERSION */
  
@media (min-width: 768px) and (max-width: 1024px) {

    .aboutTxt {
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 6vw;
        padding-right: 6vw;
    }

}

 /* DESKTOP VERSION */
    
    
@media (min-width: 1024px) {

  .btn__resume {
    margin-left: 0;
  }

  .aboutTxt {
    margin-bottom: 0;
    align-items: flex-start;
    padding-left: 6vw;
    padding-right: 16vw;
    padding-bottom: 6vw;
  }
  
  .aboutTxt__lead {
    text-align: left;
    color: var(--black);
    letter-spacing: 1px;
    font-size: 2.25em;
    line-height: 1.35em;
    padding-left: 0;
    padding-right: 0;
  }

  .aboutTxt__brow {
    text-align: left;
    font-size: 12px;
    color: var(--black);
    letter-spacing: 1px;
    line-height: 17px;
    padding-left: 0;
    padding-right: 0;
  }
    
  .aboutTxt__head {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: left;
    color: var(--black);
    font-size: 0.8em;
    line-height: 1.5em;
    width: 40vw;
    padding-left: 0;
    padding-right: 0;
  }

}
  

/* 4K VERSION */
@media (min-width: 1440px) {
  .aboutTxt {
    padding-right: 24vw;
  }

  .aboutTxt__lead{
    font-size: 2.25vw;
    line-height: 1.25em;
    max-width: 40vw;
    padding-left: 0;
    padding-right: 0;
  }

  .aboutTxt__head{
    font-size: 18px;
    line-height: 28px;
    max-width: 30vw;
    padding-bottom: 12px;
    padding-left: 0;
    padding-right: 0;
  }
}