/* Hero Image */
.home__hero {
  display: none;
  position: relative;
}

figure.home__img {
  transition: 250ms ease-in-out;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 2px var(--black) solid;
}

figure.home__img img {
  transition: 150ms ease-in-out;
  max-height: 45vh;
  display: block;
}

figure.home__img img:hover {
  transform: scale(1.1);
  transition: 150ms ease-in-out;
  -webkit-filter: drop-shadow(120px 120px 250px rgba(0, 0, 0, 0.938));
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.home__brow {
  color: var(--black);
  font-family: Chapeau;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.83px;
  text-align: center;
  margin-bottom: 24px;
}

.marquee__wrap {
  width: 39.9vw; 
  white-space: nowrap;
  background-color: var(--white);
  border-top: 2px var(--black) solid;
  border-bottom: 2px var(--black) solid;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: Chapeau;
  font-weight: 500;
  font-size: 20px;
  color: var(--black);
  letter-spacing: 1.11px;
  line-height: 24px;
  border-right: 2px var(--black) solid;
}

.hero__txt {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

  /* TABLET VERSION */
  
@media (min-width: 768px) {
  
  .home__hero {
    display: block;
    height: 80vh;
    grid-row-start: 1;
    background-color: var(--projcolor);
    transition: 150ms ease-in-out;
    grid-row-end: span 2;
    border-right: 2px var(--black) solid;
  }
  
  figure.hero__img {
    border-bottom: 0;
    margin-top: auto;
    padding-left: 10vw;
  }
}
  
  
/* DESKTOP VERSION */ 

@media (min-width: 1024px) {

  .hero {
    grid-row-start: 1;
    background-color: var(--black);
    grid-row-end: span 2;
    border-right: 2px var(--black) solid;
    border-bottom: 2px var(--black) solid;
    z-index: 2;
  }

  figure.home__img {
    border-bottom: 0;
    margin: 0;
    padding:0;
    padding-top: 9vw;
    padding-bottom: 9vw;
    display: flex;
    justify-content: center;
  }  
}
  