.home__hero {
  display: none;
  position: relative;
}

  /* TABLET VERSION */
  
@media (min-width: 768px) and (max-width: 1023px){
  .home__hero {
    display: none;
    position: relative;
  }

}
  
  
/* DESKTOP VERSION */ 

@media (min-width: 1024px) {


  .home__hero {
    display: block;
    height: 100vh;
    grid-row-start: 1;
    background-color: var(--projcolor);
    transition: 150ms ease-in-out;
    grid-row-end: span 2;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-right: 2px var(--black) solid;
  }
  
  .hero {
    grid-row-start: 1;
    background-color: var(--black);
    grid-row-end: span 2;
    border-right: 2px var(--black) solid;
    border-bottom: 2px var(--black) solid;
    z-index: 2;
  }

  figure.home__img {
    transition: 250ms ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }  

.home__img--limiter {
  max-width: 65%;
  max-height: 100%;
  /* filter: drop-shadow(0px 20px 20px rgba(0, 14, 82, 0.2)); */
}

  /* Hero Image */
  .marquee__wrap {
    align-self: flex-end;
    width: 40vw; 
    white-space: nowrap;
    background-color: var(--white);
    border-top: 2px var(--black) solid;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: Chapeau-Medium;
    font-weight: 500;
    font-size: 20px;
    color: var(--black);
    letter-spacing: 1.11px;
    line-height: 24px;
  }
}
  