.u-caps {
    text-transform: uppercase;
}

.u-opacity-20 {
    opacity: .2;
}

.u-bold {
    font-weight: 500;
}

.u-no-underline {
    text-decoration: none;
}

.u-color-inherit {
    color: inherit;
}

.u-code {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: #757575;
    line-height: 1.5rem;
}