@import 'type', 'spacing';

/* Utility Classes */
.u-bottom-border {
    border-bottom: 1px solid black;
}

.u-top-border {
    border-top: 1px solid black;
}

.u-block {
    display: block;
}

.u-button-reset {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 15px;
    text-align: inherit;
}

/*  Removes default styles from a button element */
.u-button-reset {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    text-align: inherit;
}

// Keeps an element from extending beyond its parent
.u-fit {
    max-width: 100%;
}

// Removes the default bullets and padding from a list
.u-list-reset {
    list-style: none;
    padding-left: 0;
}

// Sets the left and right margins to auto; helpful when horizontally centering a block element
.u-mx-auto {
    margin-left: auto;
    margin-right: auto;
}

//Makes link sky color
.u-sky {
    color: $sky;
    cursor: pointer;
    text-decoration: underline;
}


//Highlight
.u-highlight {
background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), yellow 85%, rgba(255, 255, 255, 0));
}
