// project pages
main.case-page {
    .case {
        >a.back-to-home {
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 0.9em;
            display: block;
            margin-bottom: 3em;
            font-family: "Inter", sans-serif;

            &:before {
                content: 'â† ';
                color: $sky;
            }
        }

        .case__title {
            >h1 {
                display: inline;
                font-weight: 900;
                font-size: 1.7em;
                margin-right: 0.8rem;
            }

            >h2 {
                display: inline;
                font-weight: 700;
                text-transform: uppercase;
                color: $sky;
                letter-spacing: 0.1rem;
                font-size: 0.9rem;
            }

            >.case__description {
                line-height: 1.3rem;
                font-weight: 400;
                padding-top: 1rem;
                font-size: 1rem;
            }

            >.case__time {
                font-weight: 400;
                color: #858585;
                font-size: 0.85em;
                padding-top: 0.7em;
                padding-bottom: 1em;
                font-weight: 500;
                // TODO probably increase font spacing here
            }
        }

        img.case__image-main {
            margin: 1em 0;
            width: 100%;
            padding-bottom: 2em;
        }

        .case__callout {
            background-color: $sky;
            color: white;
            padding: 2.5em;
            margin: 1em 0;
            line-height: 1.3em;
            margin-bottom: 2.5em;
        }
    }

    .img-pair {
        display: flex;
        flex-direction: column;
        align-items: center;


        @media (min-width: 1080px) {
            flex-direction: row;
            align-items: flex-start;
        }

    }

    .img-pair__text {
        @media (min-width: 1080px) {
            padding-left: 2em;
            padding-right: 2em;
        }
    }

    .img-pair__image {
        padding-bottom: 2em;
        width: 100%;
    }

    .case__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-direction: column;

        @media (min-width: 900px) {
            flex-direction: row;
            align-items: center;
        }
    }

    .btn {
        border: 2px $black solid;
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
        text-decoration: none;
        color: $black;
        font-family: "Inter", sans-serif;
        font-weight: 800;
        font-size: 0.9rem;
    }
}

.indicator {
    padding-right: 0.5rem;
    font-weight: 900;
    font-size: 0.7em;

    &--live {
        color: #56D21C;
    }
}

.case__callout-title {
    font-size: 0.9em;
    font-weight: 300;
    font-family: "Inter",
        sans-serif;
    padding-bottom: 1em;
    color: white;
}

.case__callout-body {
    line-height: 1.6rem;
    font-weight: 400;
    font-size: 1.1rem;
}

.case__description-title {
    font-size: 1.2em;
    font-weight: 700;
    font-family: "Inter",
        sans-serif;
    padding-bottom: 1em;
}

.case__description-body {
    line-height: 1.6rem;
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 1.2em;
}
