// project pages
main.project-page {
    .project {
        >a.back-to-home {
            text-decoration: none;
            color: black;
            font-weight: bold;
            display: block;
            margin-bottom: 2em;

            &:before {
                content: 'â† ';
            }
        }

        .project__title {
            >h1 {
                display: inline;
                font-weight: 900;
                font-size: 2.5em;
                margin-right: 0.8rem;
            }

            >h2 {
                display: inline;
                font-weight: 600;
                text-transform: uppercase;
                color: $sky;
                letter-spacing: 0.1rem;
                font-size: 1.25rem;
            }

            >.project__description {
                line-height: 1.3rem;
                font-weight: 400;
                padding-top: 1rem;
            }

            >.project__details {
                font-weight: bold;
                color: #888;
                // TODO probably increase font spacing here
            }
        }

        img.project__image-main {
            margin: 1em 0;
            width: 100%;
        }

        .project__callout-1 {
            background-color: $sky;
            color: white;
            padding: 1em;
            margin: 1em 0;
            line-height: 1.3;

            p {
                font-size: 1.1em;

            }
        }

        .project__image-floatleft {
            display: flex;

            img {}

            span {}
        }
    }
}
