@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Reset button styles.
 * It takes a bit of work to achieve a neutral look.
 */
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
}

*:focus {
  outline: none;
}

.u-caps {
  text-transform: uppercase;
}

.u-opacity-20 {
  opacity: 0.2;
}

.u-bold {
  font-weight: 500;
}

.u-no-underline {
  text-decoration: none;
}

/* Utility Classes */
.u-bottom-border {
  border-bottom: 1px solid black;
}

.u-top-border {
  border-top: 1px solid black;
}

.u-block {
  display: block;
}

.u-button-reset {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 15px;
  text-align: inherit;
}

/*  Removes default styles from a button element */
.u-button-reset {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  text-align: inherit;
}

.u-fit {
  max-width: 100%;
}

.u-list-reset {
  list-style: none;
  padding-left: 0;
}

.u-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  transition: all 0.3s ease;
}

body {
  background-color: #F6F6F6;
  color: #000000;
  position: relative;
}

body {
  opacity: 1;
  transition: 1s opacity;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

.container {
  max-width: 1200px;
  padding-bottom: 2em;
  margin: auto;
}
@media (max-width: 680px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.site-nav__link:hover {
  outline: 0.125rem #7D68FF dotted;
  outline-offset: 0.25rem;
}

::selection {
  background: #D0C8FF;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #D0C8FF;
  /* Gecko Browsers */
}

.bezier-divider {
  display: flex;
  justify-content: center;
}

/* Controls
---------------------------------------------------------------------- */
.controls {
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: auto;
  position: relative;
}

@media screen and (min-width: 680px) {
  .controls {
    justify-content: center;
  }
}
.control {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 8px;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  cursor: pointer;
  font-size: 90%;
  color: black;
  background-color: #F6F6F6;
  transition: background 150ms;
  font-weight: 700;
}

.control:hover {
  outline: 0.125rem #7D68FF dotted;
}

.control[data-filter]:after {
  position: absolute;
  transition: background-color 150ms, border-color 150ms;
}

.control[data-sort]:after {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  transform: translateY(1px) rotate(45deg);
}

.control[data-sort*=":desc"]:after {
  transform: translateY(-4px) rotate(-135deg);
}

.mixitup-control-active {
  outline: 0.125rem #7D68FF solid;
}

.mixitup-control-active[data-filter]:after {
  background: transparent;
}

.control[data-filter] + .control[data-sort] {
  margin-left: 0.75rem;
}

.site-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 90%;
}

.site-nav__list {
  display: flex;
}

.site-nav__name {
  font-weight: 900;
}

.site-nav__list-item {
  margin-left: 20px;
  margin-right: 20px;
}

.site-nav__link {
  color: #000000;
}

.filter-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
  margin: 0 1em;
}
@media (min-width: 680px) {
  .filter-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }
}
.filter-container .project {
  background-color: #E5E9EB;
  display: flex;
  flex-direction: column;
}
.filter-container .project img {
  width: 100%;
  display: block;
  margin-top: auto;
}
.filter-container .project .project__title {
  margin-top: 4rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-bottom: 2.5rem;
}
.filter-container .project .project__title h1 {
  font-family: "Inter", sans-serif;
  display: inline;
  font-weight: 1000;
  margin-right: 0.4rem;
  font-size: 1.3em;
}
.filter-container .project .project__title h2 {
  font-family: "Inter", sans-serif;
  display: inline;
  font-weight: 600;
  text-transform: uppercase;
  color: #7D68FF;
  letter-spacing: 0.1rem;
  font-size: 0.75rem;
}
@media (min-width: 680px) {
  .filter-container .project .project__title h2 {
    font-size: 0.7rem;
  }
}
.filter-container .project .project__title .project__description {
  padding-top: 1rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.3rem;
  padding-bottom: 3rem;
  font-weight: 400;
  max-width: 60%;
}
.filter-container .project .project__title .project__link {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  padding-bottom: 2rem;
}
.filter-container .project .project__title .project__link:after {
  content: " →";
  color: #7D68FF;
  text-decoration: none;
}

.hero-wrapper {
  margin: 0 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 680px) {
  .hero-wrapper {
    margin: 0 1em;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
}

.hero__yana {
  font-family: "Inter", sans-serif;
  font-size: 200%;
  padding-bottom: 5rem;
  line-height: 140%;
  font-weight: 800;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
}
.hero__yana--underline {
  text-decoration-style: solid;
}
.hero__yana--dull {
  color: #858585;
  font-weight: 700;
}
.hero__yana .hero__select {
  cursor: pointer;
  padding-bottom: 0.1em;
  border-bottom: 2px solid black;
  text-align-last: center;
}
.hero__yana .hero__select select {
  background: inherit;
  border: none;
  font: inherit;
  font-size: inherit;
  color: #7D68FF;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: inherit;
  padding-right: 2%;
  min-width: 5em;
  margin: 0 0.1em;
}
.hero__yana .hero__select select option {
  font: inherit;
}
.hero__yana select::-ms-expand {
  display: none;
}

.hero__select:after {
  content: "";
  font: normal normal normal 17px/1 FontAwesome;
  color: #7D68FF;
  bottom: 8px;
  height: 34px;
  padding-top: 3%;
  padding-bottom: 3%;
  position: relative;
  cursor: pointer;
}

.wrap {
  text-decoration: underline #7D68FF;
}

/*# sourceMappingURL=styles.css.map */
