@import 'vendor/vendor',
'mixins/mixins',
'utilities/utilities',
'vars',
'base',
'layout/layout',
'elements/elements';

@mixin borderRadius($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.sass-nav-example {
  li {
    display: inline-block;
  }

  a {
    @include borderRadius(3px);
    display: block;
    margin-right: 6px;
    padding: 3px 9px;
    text-decoration: none;
  }
}

.ColumnSection__grid div {
  border: 1px solid black;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background: tomato;
}