<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {# Setting a meta description for that sweet SEO. #}
    <meta name="description"
        content="Yana Gevorgyan is a interdisciplinary designer with a passion for moving pixels around the screen." />
    {# Setting theme color for the address bar to get those sweet sweet Progressive Web App points. #}
    <meta name="theme-color" content="#F5F5F5">
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/phd5uhi.css">
    <link rel="stylesheet" href="/fonts/inter/inter.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/favicon.png"/>

    <title> {% if title != "Home" %}{{title}} | {%endif%} Yana Gevorgyan</title>

</head>

<body class="container">
    <script>
        document.body.className += ' fade-out';
    </script>
    {{ content | safe }}
    {% include "_footer.html" %}
</body>
<script src="/js/bezier.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/barba.js"></script>
<script src="/js/fade.js"></script>
<script src="/js/filter.js"></script>
<script sec="/js/cardclick.js"></script>
<script>
    AOS.init();
</script>

</html>
