---
layout: layouts/default.njk
title: Home
slideshow: true
---

<main class="content">
    {% include "_slideshow-icons.html" %}
    {% import "_slideshow-slide.njk" as slide %}
    <section class="u-mx-auto slideshow hero" id="js-slideshow">
        <div class="u-mx-auto hero__media-wrapper">
            <ul class="u-fit u-list-reset slideshow__list " id="js-slideshow-list">
                {{ slide.item("hero1","Allen Christian's 2012 work called 'Piano Family' depicting three torsos with
                heads carved out of spare piano parts, standing upright on a gray backdrop.") }}
                {{ slide.item("hero2", "A blonde woman walking through a hallway full of eclectic museum pieces hanging
                on the walls, such as floral bronze carvings, an embroidered curtain with colorful birds and a Ouija
                board.") }}
                {{ slide.item("hero3", "A group of women in the museum laying down on the ground and looking up to the
                ceiling, from which a plethora of ribbons with LED lights are hanging.") }}
                {{ slide.item("hero4", "An image from the 20th Annual American Visionary Art Museum Kinetic Sculpture
                Parade, showcasing a float that looks like a giant, pink, fluffy poodle driving down the road with
                onlookers cheering.") }}
                {{ slide.item("hero5", "A naturalistic sculpture of a bearded old man with his arms raised and smiling,
                composed entirely out of red, green and yellow wires, except for his white-wired beard and hair.") }}
            </ul>
        </div>

        {% include "_slideshow-controls.html" %}
        <header class="hero__content">
            <h1 class="hero__headline">Parenting: An Art Without a Manual</h1>
            <h2 class="hero__subheadline">Oct 6, 2018 - Sept 1, 2019</h2>
            <p class="hero__body" href="">AVAM's upcoming exhibition showcases works by 36 artists, created out
                of every conceivable medium, to best express their own personal life experience of parenting and being
                parented — be it good, bad, horrific, and/or sublime, alongside revelations from the latest scientific
                research, globally sourced wisdoms, and fun.</p>
            <a class="hero__link" href="">Find out more →</a>

        </header>

    </section>

    <section class="content">
        <header class="u-bottom-border content__header">
            <h3 class="u-caps content__title--header">News &amp; Events</h3>
            <a class="content__link--header" href="">See All News →</a>
        </header>
        <section class="u-bottom-border content__list">
            <section class="content__event">
                <img class="content__image" src="/images/news1.png" alt="Weekend Walk-In Poster with a stylized word 'Hello!' displayed on a background with overlapping, colorful circles.">
                <div class="content__txt">
                    <h3 class="content__title">Weekend Walk-In Workshops</h3>
                    <h2 class="content__date">Once a Month</h2>
                    <p class="content__summary">Join us for a hands-on, drop-in, art-making workshop once a
                        month in the AVAM classroom. All ages welcome!</p>
                    <a class="content__link" href="">Find out more →</a>
                </div>
            </section>
            <section class="content__event">
                <img class="content__image" src="/images/news2.png" alt="Showing Reverend Albert Lee Wagner's oil painting Free From Egypt-Moses Parting The Red Sea, which shows a central figure in a crowd raising his arms up, surrounded by two symmetrical waves.">
                <div class="content__txt">
                    <h3 class="content__title">Rev. Wagner: Miracle at Midnight</h3>
                    <h2 class="content__date">Now on View</h2>
                    <p class="content__summary">AVAM proudly hosts the first national retrospective of
                        Reverend Albert Lee Wagner's autobiographical art.</p>
                    <a class="content__link" href="">Find out more →</a>
                </div>
            </section>
        </section>
    </section>
</main>
