.more {
    background-color: var(--gray);
    margin-top: 48px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 24px;
    padding-bottom: 32px;
    border-top: 2px var(--black) solid;
}

.more__head {
    font-family: Chapeau;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.83px;
}

.more__title {
    font-family: Chapeau;
    font-weight: 600;
    font-size: 14px;
    color: var(--black);
    letter-spacing: 1px;
    line-height: 18px;
    padding-bottom: 4px;
}

.more__img
 {
    border: 2px var(--black) solid;
    width: 100%;
    margin-bottom: 16px;
    margin-top: 16px;
}

.more__group {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  
}

.more__item {
    flex: 0 0 auto;
    width: 240px;
    padding-right: 24px;
}


/* TABLET VERSION */

@media (min-width: 768px) and (max-width: 1024px) {



    .more__group {
        display: flex;
        justify-content: space-between;
    
    }
    .more__item {
        flex: 0 1 auto;
        width: 28vw;
        padding-right: 0;
    }
        
      }


/* DESKTOP VERSION */


@media (min-width: 1024px) {

    .more {
        margin-top: 64px;
        padding-left: 16vw;
        padding-right: 16vw;
        padding-top: 64px;
        padding-bottom: 64px;
    }


    .more__head {
        font-size: 12px;
        line-height: 24px;
    }
    
    .more__title {
        font-size: 18px;
        line-height: 24px;
    }
    

    .more__group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow-x: hidden;  
    }

    .more__item {
        flex: 0 1 auto;
        width: 20vw;
        padding-right: 0;
    }
}

/* 4K VERSION */
@media (min-width: 2560px) {

    .more  {
        padding-left: 24vw;
        padding-right: 24vw;
    }
}