.more {
    background-color: #eee;
    padding-top: 24px;
    padding-bottom: 32px;
    border-bottom: 2px var(--black) solid;
    border-top: 2px var(--black) solid;
}

.more__head {
    font-family: Chapeau-Medium;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 1.3px;
    text-align: center;
    color: var(--black)
}

.more__title {
    font-family: Chapeau-Medium;
    font-weight: 500;
    font-size: 12px;
    color: var(--black);
    letter-spacing: 1px;
    line-height: 18px;
    text-align: center;
    padding-bottom: 4px;
}

.more__img {  
    width: 100%;
    margin-bottom: 16px;
    margin-top: 16px;
}

.more__group {
    display: flex;
    flex-wrap: nowrap;
    height: 331px;
}

.more__item {
    filter: grayscale(100%);
    flex: 0 0 auto;
    margin-left: 32px;
    margin-right: 32px;
    width: 240px;
    transition: 300ms ease-in-out;
}

.more:hover .more__item:hover {
    filter: grayscale(0);
    opacity: 1;
    transition: 300ms ease-in-out;
    cursor: pointer;
}

.more:hover .more__item {
    filter: grayscale(100%);
    opacity: 0.5;
    transition: 300ms ease-in-out;
}

/* TABLET VERSION */

@media (min-width: 768px) and (max-width: 1024px) {



    .more__group {
        display: flex;
        justify-content: space-between;
    
    }
    .more__item {
        flex: 0 1 auto;
        width: 28vw;
        padding-right: 0;
    }
        
      }


/* DESKTOP VERSION */


@media (min-width: 1024px) {

    .more {
        padding-top: 64px;
        padding-bottom: 64px;
    }


    .more__head {
        font-size: 12px;
        line-height: 24px;
    }
    
    .more__title {
        font-size: 17px;
        line-height: 24px;
    }
    

    .more__group {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        overflow-x: hidden;  
        height: 500px;
    }

    .more__item {
        flex: 0 1 auto;
        width: 20vw;
        padding-right: 0;
    }
}
