a.project.mix.u-no-underline.u-color-inherit.aos-init.aos-animate:hover .project__link::after {
    margin-left: 0.5em;
    transition: .4s ease-in-out;
}

div.filter-container:hover .project {
    opacity: 0.3;
}

div.filter-container .project:hover {
    opacity: 1;
}

main.content .project {
    transition: all 0.3s ease;
}

// .project__link:hover::after {
//     margin-left: 0.5em;
//     transition: .6s ease-in-out;
// }

// a.project.mix.u-no-underline.u-color-inherit.aos-init.aos-animate:hover {
// transform: translateY(-1em);
// box-shadow: 0px 5px 10px 0px #424242;
// }


// Material Click

// .material-ripple {
//     position: relative;
//     overflow: hidden;
// }

// .material-ink {
//     display: block;
//     position: absolute;
//     background: rgba(0, 0, 0, 0.5);
//     border-radius: 100%;
//     transform: scale(0);
// }

// .material-ink-animate {
//     animation: ripple 0.5s linear;
// }

// @keyframes ripple {
//     100% {
//         opacity: 0;
//         transform: scale(1.5)
//     }
// }
