// CONTAINER

.filter-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;

    .project {
        background-color: #ddd;
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
            display: block;
            margin-top: auto;
        }

        .project__title {
            margin: 1em;

            h1 {
                display: inline;
                font-size: 2em;
                margin-right: 1em;
            }
            
            h2 {
                display: inline;
                font-weight: bold;
                text-transform: uppercase;
            }

            .project__description {

            }

            .project__link {
                color: black;

                &:after {
                    content: ' →';
                }
            }
        }
    }
}
