// CONTAINER

main.content {
    margin: 2em;
}

// shared between main page and project pages
.project {

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Inter",
            sans-serif;
        font-weight: bold;
        margin-bottom: 0.4em;
    }
}

// main page
.filter-container {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 680px) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }

    .project {
        background-color: $boxbg;
        display: flex;
        flex-direction: column;

        // this img corresponds to the main index.html image
        img {
            width: 100%;
            display: block;
            margin-top: auto;
        }

        .project__title {
            margin-top: 4rem;
            margin-left: 2.5rem;
            margin-right: 2.5rem;
            margin-bottom: 2.5rem;

            >h1 {
                display: inline;
                font-weight: 900;
                font-size: 1.3em;
                margin-right: 0.4rem;
            }

            >h2 {
                display: inline;
                font-weight: 600;
                text-transform: uppercase;
                color: $sky;
                letter-spacing: 0.1rem;
                font-size: 0.75rem;

                @media (min-width: 680px) {
                    font-size: 0.7rem;
                }
            }

            >.project__description {
                line-height: 1.3rem;
                font-weight: 400;
                padding-top: 1rem;
                padding-bottom: 3rem;
                max-width: 35vh;
            }

            >.project__link {
                color: $black;
                font-family: "Inter",
                    sans-serif;
                font-weight: 900;
                padding-bottom: 2rem;

                &:after {
                    content: ' →';
                    color: $sky;
                    text-decoration: none;
                }
            }
        }
    }
}
