/* Controls
---------------------------------------------------------------------- */

.controls {
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
    position: relative;
}

@media screen and (min-width: 680px) {
    .controls {

        justify-content: center;


    }
}

.control {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    cursor: pointer;
    font-size: 90%;
    color: black;
    background-color: $white;
    transition: background 150ms;
    font-weight: 700;
}

.control:hover {
    outline: 0.125rem $sky dotted;
}

.control[data-filter]:after {
    position: absolute;
    transition: background-color 150ms, border-color 150ms;
}

.control[data-sort]:after {
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    transform: translateY(1px) rotate(45deg);
}

.control[data-sort*=":desc"]:after {
    transform: translateY(-4px) rotate(-135deg);
}

.mixitup-control-active {
    outline: 0.125rem $sky solid;
}

.mixitup-control-active[data-filter]:after {
    background: transparent;
}


.control[data-filter]+.control[data-sort] {
    margin-left: .75rem;
}
