.site-footer {
  margin-top: 3em;
  background-color: $boxbg;
  padding: 2em;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}

.footer_txt {
  margin-bottom: 1em;
}

.footer__call {
  font-size: 0.9em;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-bottom: 1em;
  //   line-height: 1.3rem;/
  color: #858585;
  text-transform: uppercase;
}

.footer__cute {
  font-size: 0.9em;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1em;
  //   line-height: 1.3rem;/
  color: #858585;
  text-transform: uppercase;
}

.footer__email {
  font-size: 180%;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-bottom: 1em;
  //   line-height: 1.3rem;/
  //   text-transform: uppercase;
  color: $sky;
}
