.hero-wrapper {
    margin: 0 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 680px) {
        margin: 0 1em;
    }
}

.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
}

.hero__yana {
    font-size: 300%;
    padding-bottom: 5rem;
    font-weight: 300;
    line-height: 130%;
    font-weight: 900;
    max-width: 80%;
    margin: 0 auto;

    @media (max-width: 680px) {
        font-size: 200%;
    }

    u {
        text-decoration-style: dotted;
        text-decoration-color: $sky;
    }

    select {
        background: inherit;
        border: none;
        font: inherit;
        font-size: inherit;
        color: $sky;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        padding-right: 2%;

        option {
            font: inherit;
            cursor: pointer;
        }


    }

    select::-ms-expand {
        display: none;
    }
}

.hero__select {
    cursor: pointer;
}

.hero__select:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: $sky;
    right: 20px;
    bottom: 8px;
    height: 34px;
    padding-top: 3%;
    padding-bottom: 3%;
    position: relative;
    cursor: pointer;
}

.wrap {
    text-decoration: underline $sky; //temporary solution
}
