.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 36px;
    padding-bottom: 36px;
    height: 80vh;
}

.contact__head {
    font-family: Chapeau-Medium;
    font-weight: 500;
    font-size: 24px;
    color: var(--white) ;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 36px;
}

.contact__txt {
    color: var(--white);
    opacity: 0.6;
    text-align: center;
    font-family:  Chapeau-Medium;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.33px;
    margin-top: 36px;
    max-width: 310px;
}

.btn__contact--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn__contact {
    font-family: Chapeau-Medium;
    font-weight: 500;
    font-size: 16px;
    color: var(--white);
    letter-spacing: 1.14px;
    text-align: left;
    line-height: 24px;
    text-transform: uppercase;
    padding: 10px;
    border: 0;
    border-bottom: 2px var(--white) solid;
    background: var(--black);
    width: 300px;
    margin-bottom: 24px;
    cursor: pointer;
    transition: 150ms ease-in-out;
}

.btn__contact:after {
    position: relative;
    content: "\2192";
    color: var(--white); 
    transition: 150ms ease-in-out;
    margin-left: 20px;
    float: right;
  }
  
  .btn__contact:hover:after {
    transition: 150ms ease-in-out;
    color: var(--projcolor) ;
  }
  

.btn__contact:hover  {
    border-bottom: 2px var(--projcolor) solid;
    transition: 150ms ease-in-out;
}

.marquee {
    color: var(--white);
}


/* TABLET VERSION */

@media (min-width: 768px) and (max-width: 1024px) {

    .contact__head {
        font-size: 32px;
    }
    
    .btn__contact--wrapper {
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        width: 400px;
        margin: 0 auto;
    }

      }


/* DESKTOP VERSION */


@media (min-width: 1024px) {

    .contact {
        padding-left: 16vw;
        padding-right: 16vw;
        padding-top: 64px;
        padding-bottom: 64px;
        /* margin-top: 120px; */
    }
    

    .contact__head {
        font-size: 32px;
    }

    .contact__txt {
        font-size: 15px;
        line-height: 26px;
    }

    .btn__contact--wrapper {
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        width: 400px;
        margin: 0 auto;
    }


    @media (min-width: 2560px) {
        .contact {
            padding-left: 24vw;
            padding-right: 24vw;
        }
    }
      }
