.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--black);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 36px;
    padding-bottom: 36px;
    height: 60vh;
}

.contact__head {
    font-family: Chapeau;
    font-weight: 500;
    font-size: 24px;
    color: var(--white) ;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 36px;
}

.btn__contact--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn__contact {
    font-family: Chapeau;
    font-weight: 500;
    font-size: 16px;
    color: var(--white);
    letter-spacing: 1.14px;
    text-align: left;
    line-height: 24px;
    text-transform: uppercase;
    padding: 10px;
    border: 0;
    border-bottom: 2px var(--white) solid;
    background: var(--black);
    width: 320px;
    margin-bottom: 24px;
    cursor: pointer;
    transition: 150ms ease-in-out;
}

.btn__contact:after {
    /* z-index : -1; */
    /* font-size : 60px; */
    position: relative;
    content: "\2192";
    color: var(--white); 
    transition: 150ms ease-in-out;
    margin-left: 20px;
    float: right;
    /* bottom : -4px; */
  }
  
  .btn__contact:hover:after {
    transition: 150ms ease-in-out;
    color: var(--projcolor) ;
  }
  

.btn__contact:hover  {
    border-bottom: 2px var(--projcolor) solid;
    transition: 150ms ease-in-out;
}

.marquee {
    color: var(--white);
}


/* TABLET VERSION */

@media (min-width: 768px) and (max-width: 1024px) {

    .contact__head {
        font-size: 32px;
    }
    
    .btn__contact--wrapper {
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        width: 400px;
        margin: 0 auto;
    }

      }


/* DESKTOP VERSION */


@media (min-width: 1024px) {

    .contact {
        padding-left: 16vw;
        padding-right: 16vw;
        padding-top: 64px;
        padding-bottom: 64px;
    }
    

    .contact__head {
        font-size: 32px;
    }

    .btn__contact--wrapper {
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        width: 400px;
        margin: 0 auto;
    }

      }
