nav {
    background-color: var(--projcolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100; */
    padding-left: 10vw;
    padding-right: 10vw;

}

.img-logo {
    width: 50px;
    padding-top:20px;
    padding-bottom: 20px;
}

.navlink {
    opacity: 0.6;
    font-family: Chapeau-Black;
    font-size: 10px;
    color: var(--black);
    letter-spacing: 1px;
    padding-left: 36px;
    text-align: center;
    line-height: 17px;
    text-decoration: none;
    text-transform: uppercase;
}

.navlink__active {
    font-family: Chapeau-Black;
    font-size: 10px;
    color: var(--black);
    letter-spacing: 1px;
    text-align: center;
    line-height: 17px;
    opacity: 1;
    text-transform: uppercase;
}



/* TABLET VERSION */

@media (min-width: 768px) and (max-width: 1024px) {

  
    nav {
        background-color: var(--white);
        padding-left: 6vw;
        padding-right: 6vw;
    }
    
      }


/* DESKTOP VERSION */


@media (min-width: 1024px) {

    nav {
        background-color: var(--white);
    }
    
      }
