nav {
    background-color: var(--projcolor);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}

.img-logo {
    width: 50px;
    padding-top:20px;
    padding-bottom: 20px;
}

.navlink {
    opacity: 0.6;
    font-family: Chapeau-Black;
    font-size: 10px;
    color: var(--black);
    letter-spacing: 1px;
    text-align: center;
    line-height: 17px;
    text-decoration: none;
    text-transform: uppercase;
}

.navlink__active {
    font-family: Chapeau-Black;
    font-size: 10px;
    color: var(--black);
    letter-spacing: 1px;
    text-align: center;
    line-height: 17px;
    opacity: 1;
    text-transform: uppercase;
}