.header__wrapper {
    z-index: 2;   
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6vw;
    padding-right: 6vw;
    background-color: var(--projcolor)
}

.img-logo {
    width: 50px;
    padding-top:20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.cube_wrapper {
    display: none;
}

.navlink {
    font-family: Chapeau-Medium;
    font-weight: 900;
    font-size: 10px;
    color: var(--black);
    letter-spacing: 1.3px;
    padding-bottom: 6px;
    text-align: center;
    line-height: 17px;
    text-decoration: none;
    text-transform: uppercase;
}

.navlink__active {
    font-family: Chapeau-Medium;
    font-weight: 900;
    font-size: 10px;
    color: var(--black);
    text-decoration: none;
    letter-spacing: 1.3px;
    text-align: center;
    line-height: 17px;
    opacity: 1;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px var(--black) solid;
    transition: 100ms ease-in-out;
}

.navlink__active:hover { 
    text-decoration: none;
    transition: 100ms ease-in-out;
}

/* TABLET VERSION */

@media (min-width: 768px) and (max-width: 1024px) {
    
    nav {
        background-color: var(--white);
        padding-left: 6vw;
        padding-right: 6vw;
    }

    .img-logo {
        display: block;
    }
    
    .logo-resizer {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    

      }


/* DESKTOP VERSION */


@media (min-width: 1024px) {
    .header__txt {
    padding-top: 30px;
    }

    nav {
        background-color: transparent;
        padding-left: 6vw;
        padding-right: 16vw;
    }

    .navlink, .navlink__active {
        font-size: 12px;
        line-height: 17px;
  
    }

    .img-logo {
        display: none;
    }
    
    .cube_wrapper {
        display: block;
    }
    
      }

/* 4K VERSION */
@media (min-width: 2560px) {
    .nav {
        padding-right: 24vw;
    }
}