
.imgFull {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgFull__img {
    max-width: 100%;
}


/* DESKTOP VERSION */

@media (min-width: 1024px) {
    .imgFull {
        margin-left: 16vw;
        margin-right: 16vw;
        margin-top: 48px;
        margin-bottom: 24px;
    }
    
    .imgFull__img {
        max-width: 100%;
    }

}

/* 4K VERSION */
@media (min-width: 2560px) {
    .imgFull {
        margin-left: 24vw;
        margin-right: 24vw;
    }

    .imgFull__img {
        max-width:100%;
    }
}