// JS action classes
[data-visible="false"] {
    display: none;
}

.site-header {

    @media screen and (min-width: $display-nav) {
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
    }

    display: flow-root;
    padding: 15px;


    &__logo {
        @media screen and (min-width: $display-nav) {
            display: inline-block;
            height: 60px;
            width: auto;
        }
    }
}

.site-nav {
    &__trigger {
        padding: 15px;
        position: absolute;
        right: 0;
        top: 0;

        &[aria-expanded="true"] {
            .menu-icon__line {
                $yValue: 10px;
                $deg: 45deg;

                &:nth-child(1) {
                    transform: translateY($yValue) rotate($deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: translateY(-$yValue) rotate(-$deg);
                }
            }
        }

        @media screen and (min-width: $display-nav) {
            display: none;
        }
    }

    &__list {

        @media screen and (max-width: ($display-nav - 1px)) {
            background-color: $black;
            flex-direction: column;
            height: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: $top-height;
            width: 100vw;

            &[data-visible="true"] {
                animation: expand 0.3s ease-in-out forwards; // see the expand animation below
                // this changes the height and opacity of the mobile menu
                display: flex;
            }
        }

        @media screen and (min-width: $display-nav) {
            align-content: center;
            align-items: center;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
        }
    }

    &__list-item {
        align-items: center;
        display: flex;

        @media screen and (max-width: ($display-nav - 1px)) {
            border-bottom: 1px solid white;
            font-size: 8px;
            font-weight: 200;
            justify-content: left;
        }
    }

    &__link {

        color: black;
        display: flex;
        font-size: 0.85em;
        font-weight: 500;
        letter-spacing: 1.5px;
        opacity: 1;
        padding-bottom: 15px;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 15px;

        &:hover {
            opacity: 0.7;
        }

        &:visited {
            color: black;

            @media screen and (max-width: ($display-nav - 1px)) {
                color: white;
            }

        }

        @media screen and (max-width: ($display-nav - 1px)) {
            color: white;
            flex: 1 0 auto;
            font-size: 200%;
        }
    }

    @keyframes expand {
        from {
            height: 0;
            opacity: 0;
        }

        to {
            height: calc(100vh - #{$top-height});
            opacity: 1;
        }
    }

    &__link--bolder {
        font-weight: 800;
        letter-spacing: 0;
    }
}

.search-icon {
    @media screen and (max-width: ($display-nav - 1px)) {
        display: none
    }

}

.menu-icon {

    &__line {
        background-color: $black;
        height: 2px;
        margin: 8px auto;
        transition: all 0.3s ease-in-out;
        width: 42px;
    }
}
