/* Font Loading */
@font-face {
  font-family: "Chapeau-Black";
  src: url("../fonts/ChapeauWEB-Black.woff") format("woff");
  }

@font-face {
  font-family: "Chapeau-Medium";
  src: url("../fonts/ChapeauWEB-Medium.woff") format("woff");
  }


@font-face {
  font-family: "SuisseNeue-Regular";
  src: url("../fonts/SuisseNeue-Regular.woff") format("woff"),
  url("../fonts/SuisseNeue-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Ogg";
    src: url("../fonts/Ogg-Regular.woff") format("woff"),
    url("../fonts/Ogg-Regular.woff2") format("woff2");
    }
  
/* Focus */
*:focus {
  outline: var(--projcolor) auto 3px;
}
 

/* Legend of Colors */
:root {
  --black: #000;
  --white: #fff;
  --gray: #eee;
  --darkGray: #292429;
  --projcolor: red;
}

::selection { 
  background: var(--black); 
  color: var(--white);
}

/* Homepage Color */

:root .home {
  --projcolor: var(--white);
  transition: 200ms ease-in-out;
}

@media (min-width: 768px) {

  :root .home {
    --projcolor: #222;
    transition: 200ms ease-in-out;
  }
}

.end {
  margin-bottom: 128px;
}

/* MICA Phisher Color */
:root .phisher {
  --projcolor: #FEDB00;
  transition: 200ms ease-in-out;
}

/* Cluse Color */
:root .cluse {
  --projcolor: rgb(70, 159, 255);
  transition: 200ms ease-in-out;
}

/* Ditto + Banditto Color */
:root .ditto {
  --projcolor: #00FEB3;
  transition: 200ms ease-in-out;
}

/* Fisqual Color */
:root .fisqual {
  --projcolor: #3375e8;
  transition: 200ms ease-in-out;
}

/* Trunks Color */
:root .trunks {
  --projcolor: #F1753A;
  transition: 200ms ease-in-out;
}

/* AVAM Color */
:root .avam {
  --projcolor: #EFF1FA;
  transition: 200ms ease-in-out;
}

/* Mad Lads Color */
:root .madlads {
  --projcolor: #FFD200;
  transition: 200ms ease-in-out;
}

/* Semaphore Color */
:root .semaphore {
  --projcolor: #7e52ff;
  transition: 200ms ease-in-out;
}

/* BitShit Color */
:root .bitshit {
  --projcolor: #8465FF;
  transition: 200ms ease-in-out;
}

/* Lissitzky Color */
:root .lissitzky {
  --projcolor: #e74d3c;
  transition: 200ms ease-in-out;
}

/* Spiral Draw Color */
:root .spiral {
  --projcolor: #5DCDCF;
  transition: 200ms ease-in-out;
}

/* Tar Pits Color */
:root .tarpits {
  --projcolor: #FF36D9;
  transition: 200ms ease-in-out;
}

/* Oriental Carpets Color */
:root .carpets {
  --projcolor: #BD0F00;
  transition: 200ms ease-in-out;
}

/* Decred Color */
:root .decred {
  --projcolor: #2DD8A3;
  transition: 200ms ease-in-out;
}

/* ARTECA Color */
:root .arteca {
  --projcolor: #fee700;
  transition: 200ms ease-in-out;
}

/* Yext Color */
:root .yext {
  --projcolor: #375c3a;
  transition: 200ms ease-in-out;
}

/* ARTECA Color */
:root .webx {
  --projcolor: #11edd3;
  transition: 200ms ease-in-out;
}

/* Hero Wrapper Grid Responsiveness */

.hero__wrapper {
  z-index: -10;
}

/* TABLET VERSION */

@media (min-width: 768px) and (max-width: 1024px) {

div > .hero__wrapper {
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-template-rows:  auto auto ;
  }
}
  
  
  /* DESKTOP VERSION */
  
@media (min-width: 1024px) {

    .hero__wrapper {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows:  auto auto ;
    }                   
}
  
/* Misc Global Settings */
html {
  scroll-behavior: smooth;
}