:root {
  --black: #000;
  --white: #fff;
  --gray: #eee;
  --darkGray: #292429;
  --projcolor: red;
}

:root .home {
  --projcolor: #000;
}

:root .phishing {
  --projcolor: #FEDB00;
}

html {
  scroll-behavior: smooth;
}


/* TABLET VERSION */

@media (min-width: 768px) and (max-width: 1024px) {

  .hero__wrapper {
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-template-rows:  auto auto ;
  }
        }
  
  
  /* DESKTOP VERSION */
  
  
  @media (min-width: 1024px) {
  
      .hero__wrapper {
          display: grid;
          grid-template-columns: 2fr 3fr;
          grid-template-rows:  auto auto ;
      }    
                          
  }
  