
/* TABLET VERSION */

@media (min-width: 768px) and (max-width: 1024px) {

.hero__wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows:  auto auto ;
}
      }


/* DESKTOP VERSION */


@media (min-width: 1024px) {

    .hero__wrapper {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows:  auto auto ;
    }    
    
      }
