<footer class="site-footer">
    <div class="site-footer__logo">
        <img class="u-opacity-20 head__logo" src="/images/logo.svg" alt="American Visionary Art Museum">
    </div>
    <section class="site-footer__subsoc">
        <div class="site-footer__subscribe">
            <label for="email" class="site-footer__subscribe--summary">Enter your email to stay up-to-date on all of
                AVAM's events!</label>
            <input class="site-footer__subscribe--email-form" id="email" type="email" name="email" placeholder="dalismustache@avam.org"
                autocomplete="email">
            <button class="site-footer__subscribe--email-button" type="submit">Subscribe →</button>
        </div>
        <ul class="site-footer__social">
            <li><a href="#" class="site-footer__social--item fa fa-facebook" aria-label="Visit our Facebook page."></a></li>
            <li><a href="#" class="site-footer__social--item fa fa-twitter" aria-label="Visit our Twitter profile."></a></li>
            <li> <a href="#" class="site-footer__social--item fa fa-instagram" aria-label="Visit our Instagram feed."></a></li>
            <li> <a href="#" class="site-footer__social--item fa fa-play" aria-label="Visit our YouTube channel."></a></li>
            <li><a href="#" class="site-footer__social--item fa fa-envelope" aria-label="Send us an email."></a></li>
        </ul>
    </section>
    <div class="site-footer__info">
        <ul class="site-footer__info--summary">
            <li class="site-footer__info--address"><strong class="u-bold">American Visionary Art Museum</strong></li>
            <li class="site-footer__info--address"> 800 Key Highway</li>
            <li class="site-footer__info--address">Baltimore, Maryland 21230</li>
            <li class="site-footer__info--address">(410) 244-1900</li>
            <li class="site-footer__info--address"><strong class="u-bold site-footer__info--hours">Open Today 10AM –
                    6PM</strong></li>
        </ul>
    </div>
</footer>
