<div class="site-wrapper">
	<header class="u-bottom-border site-header">
		<a href="/">
			<img src="/images/logo.svg" class="site-header__logo" alt="American Visionary Art Museum logo consisting of a vector outline of an eye with the abbreviation 'AVAM' to its left and the text 'American Visionary Art Museum' below the eye and abbreviation.">
		</a>

	</header>
	<section class="site-nav__list-item search-icon mobile-search">
		<a href="#" class="u-block u-no-underline site-nav__link">
			<form id="search-area">
				<input aria-label="Search this site." type="search" placeholder="Search">
			</form>

		</a>
	</section>
	<nav class="wrapper site-nav">

		<button id="js-nav-trigger" aria-label="Menu" aria-controls="js-site-nav" aria-expanded="false" class="u-button-reset site-nav__trigger">
			<span aria-hidden="true" class="menu-icon">
				<div class="menu-icon__line"></div>
				<div class="menu-icon__line"></div>
				<div class="menu-icon__line"></div>
			</span>

		</button>
		<ul id="js-site-nav" class="u-bottom-border u-list-reset site-nav__list" aria-hidden="false" data-visible="false">
			<li class="site-nav__list-item u-caps"><a href="#" class="u-block u-no-underline site-nav__link ">Visit</a></li>
			<li class="site-nav__list-item u-caps"><a href="#" class="u-block u-no-underline site-nav__link ">Exhibitions</a></li>
			<li class="site-nav__list-item u-caps"><a href="#" class="u-block u-no-underline site-nav__link">Learn</a></li>
			<li class="site-nav__list-item u-caps"><a href="#" class="u-block u-no-underline site-nav__link">Shop</a></li>
			<li class="site-nav__list-item u-caps"><a href="#" class="u-block u-no-underline site-nav__link">About</a></li>
			<li class="site-nav__list-item search-icon ">
				<a href="#" class="u-block u-no-underline site-nav__link">
					<form id="search-field">
						<input aria-label="Search this site." type="search" placeholder="Search">
					</form>

				</a>
			</li>
			<li class="site-nav__list-item"><a href="#" class="u-block site-nav__link site-nav__link--bolder">Buy Tickets →</a></li>
			<li class="site-nav__list-item"><a href="/donate" class="u-block site-nav__link site-nav__link--bolder">Donate →</a></li>
			</a>
			</li>
		</ul>

	</nav>
</div>
