<ul class="u-list-reset slideshow__controls" aria-label="Slideshow controls.">
    <li>
        <button id="slideshow__button--pause" class="js-slideshow-button u-button-reset slideshow__button" aria-label="pause"
            data-action="pause">
            <svg aria-hidden="true" class="icon--pause" focusable="false">
                <use xlink:href="#icon--pause"></use>
            </svg>
            <svg aria-hidden="true" class="icon--play" focusable="false">
                <use xlink:href="#icon--play"></use>
            </svg>
        </button>
    </li>
    <li>
        <button id="slideshow__button--previous" class="js-slideshow-button u-button-reset slideshow__button"
            aria-label="previous" data-action="previous">
            <svg aria-hidden="true" focusable="false">
                <use xlink:href="#icon--prev"></use>
            </svg>
        </button>
    </li>
    <li>
        <button id="slideshow__button--next" class="js-slideshow-button u-button-reset slideshow__button" aria-label="next"
            data-action="next">
            <svg aria-hidden="true" focusable="false">
                <use xlink:href="#icon--next" /></svg>
        </button>
    </li>
</ul>
