.abstract{
    background-color: var(--black);
    margin-top: 36px;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 16px;
    padding-right: 16px;
}

.img-glamor {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.abstract__details {
    color: var(--white);
    display: flex;
    flex-direction: row;
}

.abstract__head {
    font-family: Chapeau-Black;
    font-size: 10px;
    color: var(--white);
    letter-spacing: 0.83px;
    line-height: 32px;
    text-transform: uppercase;
    margin-right: 16px;
}

.abstract__body {
    font-family: SuisseNeue-Regular;
    font-size: 14px;
    color: var(--white);
    letter-spacing: 0;
    line-height: 32px;
}

.abstract__txt {
    margin-top: 24px;
}

.abstract__body--paragraph {
    font-family: SuisseNeue-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 24px;
}


/* Button */
  
.btn__live {
    font-family: Chapeau-Medium;
    font-size: 16px;
    color: var(--white);
    letter-spacing: 1.14px;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
    padding: 10px;
 
}
  
.btn__live--iconbg {
    padding-right: 18px;
}
  
.btn__live--wrapper {
    display: flex;
    border: 1px  var(--white) solid;
    margin-top: 24px;
    flex-direction: row;
    align-items: center;
    width: 240px;
    justify-content: space-between;
}

.abstract__txt--left {
    display: flex;
    flex-direction: column;
}


/* TABLET VERSION */

@media (min-width: 768px) and (max-width: 1024px) {

    .abstract {
        margin-top: 0;
    }

    .abstract__txt--wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .abstract__txt {
        margin-top: 0;
        margin-left: 10vw;
    }
    
      }


/* DESKTOP VERSION */


@media (min-width: 1024px) {

    .abstract {
        margin-top: 0;
    }

    .abstract__txt--wrapper {
        padding-left: 16vw;
        padding-right: 16vw;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .abstract__txt {
        margin-top: 0;
        margin-left: 10vw;
    }
    
      }
