.abstract{
    background-color: #000;
    align-items: center;
    margin-top: 64px;
    padding-top: 36px;
    padding-bottom: 64px;
}

.abstract__gallery {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%; 
    margin: 0 auto;
    scroll-snap-type: mandatory y;
}

.abstract__img--wrapper {
    width: 100%;
    margin-bottom: 10em;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    scroll-snap-align: start;
}

.abstract__gallery:last-child {
    margin-bottom: 0;
}

.abstract__img--wrapper[data-width="3"] .abstract__img{
    /* max-width: calc(100% / 3 - 2%); */
    max-height: 16vw;
}

.abstract__img--wrapper[data-width="2"] .abstract__img{
    max-width: calc(100% / 2 - 2%);
    /* max-height: 40vw; */
  }

.abstract__img--wrapper[data-width="1"] .abstract__img{
    /* space around topmost image if it's not big enough for the screen */
    margin: 0 auto;
    max-height: 50vw;
  }

.abstract__hint {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
}

.abstract__head--arrow {
    animation: slide-down 750ms ease-in-out infinite alternate;
}

.abstract__img {
    /* outline: 1px red solid; */
    display: block;
    height: auto;
}

.abstract__details {
    color: var(--white);
    display: flex;
    flex-direction: row;
}

.abstract__head {
    font-family: Chapeau-Medium;
    font-weight: 900;
    font-size: 10px;
    color: var(--white);
    letter-spacing: 1.3px;
    line-height: 32px;
    text-transform: uppercase;
    margin-right: 16px;
}

.abstract__body {
    font-family: SuisseNeue-Regular;
    font-size: 14px;
    color: var(--white);
    letter-spacing: 0;
    line-height: 32px;
}

.abstract__body--paragraph {
    font-family: SuisseNeue-Regular;
    font-size: 14px;
    color: var(--white);
    letter-spacing: 0;
    line-height: 24px;
}

.abstract__txt--left {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.abstract__txt--wrapper {
    margin-left: 16px;
    margin-right: 16px;
}

/* Button */
  
.btn__live {
    font-family: Chapeau-Medium;
    font-weight: 500;
    font-size: 16px;
    color: var(--white);
    letter-spacing: 1.14px;
    background-color: #000;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
    padding: 10px;
    width: 240px;
    border: 1px var(--white) solid;
    transition: 100ms ease-in-out;
 
}
  
.btn__live--iconbg {
    background-color: var(--white);
}

.btn__live--icon {
    width: 20px;
    height: 20px;
    padding: 12px;
}
  
.btn__live--wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 240px;
    border: 1px var(--white) solid;
    justify-content: space-between;  
}

.btn__wrapper {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.btn__git--icon {
    height: 40px;
    width: 40px;
    margin-left: 24px;
    transition: 150ms ease-in-out;
}

.btn__git--icon:hover {
    opacity: 0.8; 
    transition: 150ms ease-in-out;
}

/* Button hover */

.btn__live--wrapper:hover .btn__live {
    background-color: var(--white);
    color: #000;
    transition: 100ms ease-in-out;
    border: 1px var(--white) solid;
    cursor: pointer;
  }
  
  .btn__live--iconbg:hover {
    cursor: pointer;
  }

/* TABLET VERSION */

@media (min-width: 768px) and (max-width: 1023px) {

    .abstract {
        margin-top: 0;
    }

    .abstract__details {
        margin-left: 5vw;
        padding-top: 5px;
    }

    .abstract__txt--wrapper {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
    
    .abstract__txt {
        margin-top: 0;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .btn__live--wrapper {
        margin-left: 5vw;
    }
    
    /* TABLET VERSION */
@media(min-width: 768px)
{
    .paragraph {
        padding-left: 20vw;
        padding-right: 20vw;
    }
}


      }


/* DESKTOP VERSION */

@media (min-width: 1024px) {

    .abstract {    
        display: flex;
        flex-directioN: column;
        margin-top: 0;
        padding-top: 128px;
        padding-bottom: 128px;
    }


    .abstract__txt--wrapper {
        padding-top: 32px;
        display: grid;
        grid-template-columns: 2fr 3fr;
    }

    .abstract__txt--left {
        margin-left: 6vw;
    }
    
    .abstract__txt {
        margin-top: 0;
        margin-left: 6vw;
        margin-right: 6vw;
    }
    
    .abstract__head {
        font-size: 12px;
        line-height: 32px;
    }
    
    .abstract__body {
        font-size: 18px;
        text-rendering: optimizeLegibility;
        font-family: SuisseNeue-Regular;
        font-weight: 100;
        line-height: 32px;
        width: 100%;
    }

    .abstract__body--paragraph {
        font-size: 18px;
        text-rendering: optimizeLegibility;
        font-family: SuisseNeue-Regular;
        font-weight: 100;
        line-height: 32px;
    }

}

      /* 4K VERSION */

@media (min-width: 1440px) {

    .abstract__gallery {
        margin-left: 6vw;
        margin-right: 6vw;
        width: auto;
    }

    .abstract__txt {
        margin-right: 6vw;
    }
    
    .abstract__txt--left {
        margin-left: 6vw;
    }

    .abstract__hint {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 128px;
    }
}

@keyframes slide-down{
    from { transform: translateY(0px); 
    }
    to {
        transform: translateY(20px); 
    }
}