
.cube_wrapper {
    transform: rotateX(-30deg) translateX(-50%);
    margin-top: 50px;
    margin-left: 30px;
    cursor: pointer;
	transform-style: preserve-3d;
}

.cube_txt {
	color: #000;
	font-family: Chapeau-Medium;
    font-weight: 500;	
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.75rem;
}

.cube {
	transition: all 0.3s ease;
	height: 50px;
	width: 50px;
	transform: rotateY(-45deg);
	transform-style: preserve-3d;
	animation: cube_rotate 3s infinite ease;
	animation-play-state: paused;
	
}


.cube:hover {
	
	  animation-play-state: running;
}

.cube_face {
	background: #fff;
	border: solid 2px #000;
	position: absolute;
	transform-style: preserve-3d;
	box-sizing: border-box;
	backface-visibility: hidden;
	height: 50px;
	width: 50px;
}

.cube .cube_face:nth-child(1) {
	transform: rotateX(90deg) rotateY(0deg) translateZ(25px);
	background: #fff;
}

.cube .cube_face:nth-child(2) {
	transform: rotateX(0deg) rotateY(0deg) translateZ(25px);
   background: #fff;
}

.cube .cube_face:nth-child(3) {
	transform: rotateX(0deg) rotateY(90deg) translateZ(25px);

}

.cube .cube_face:nth-child(4) {
	transform: rotateX(0deg) rotateY(180deg) translateZ(25px);
	
}

.cube .cube_face:nth-child(5) {
	transform: rotateX(0deg) rotateY(270deg) translateZ(25px);
   background: #fff;
}

.cube .cube_face:nth-child(6) {
	transform: rotateX(-90deg) rotateY(0deg) translateZ(25px);
	background: #fff;
	
}

@keyframes cube_rotate {
	0% {transform: rotateY(-45deg);}
	16.7% {transform: rotateY(-45deg) rotateX(-90deg);}
	33.3% {transform: rotateY(-45deg) rotateX(-90deg) rotateZ(90deg) rotateX(0deg);}
	50% {transform: rotateY(-45deg) rotateX(-90deg) rotateZ(90deg) rotateX(-90deg);}
	66.7% {transform: rotateY(-45deg) rotateX(-90deg) rotateZ(90deg) rotateX(-90deg) rotateZ(90deg) rotateX(0deg);}
	83.3% {transform: rotateY(-45deg) rotateX(-90deg) rotateZ(90deg) rotateX(-90deg) rotateZ(90deg) rotateX(-90deg);}
	100% {transform: rotateY(-45deg) rotateX(-90deg) rotateZ(90deg) rotateX(-90deg) rotateZ(90deg) rotateX(-90deg) rotateZ(90deg);}
}

